{% extends 'product/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<h2>Welcome!</h2>
<p>You are viewing Hix Inc Web Services page. This site provide web related services for our product, including product registration, authentication, and update.</p>
<p>Since this site is meant for RESTful API, there isn't much to see here.</p>
<p>You can view our privacy policy: <a href="https://services.hix.co.kr/privacy">https://services.hix.co.kr/privacy</a> and terms of conditions here: <a href="https://services.hix.co.kr/terms">https://services.hix.co.kr/terms</a></p>
{% endblock %}
