{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
        <p>
            {% blocktrans %}
                You're receiving this e-mail because you or someone else has requested a password for your user account.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
            {% endblocktrans %}
        </p>
        <p>
            {{ password_reset_url }}
        </p>
        <p>
            {% if username %}
                {% blocktrans %}
                    In case you forgot, your username is 
                    <h3>{{ username }}</h3>
                {% endblocktrans %}
            {% endif %}
        <p>
    {% endautoescape %}
{% endblock %}
