{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
        
        <p>
            연결된 아이디는 다음과 같습니다.
        </p>
        <p>
            <h2>{{ username }}</h2>
        </p>
        <p>
            비밀번호를 재설정 하시려면 다음의 링크를 눌러주세요
        </p>
        <p>
            {{ password_reset_url }}
        </p>
        <p>
            만약 계정 혹은 비밀번호 찾기 요청을 하지 않으신 경우 이 메일을 무시해주세요
        </p>
        <p> <br /> </p> 
        <p>
            The ID to which is linked is as follows.
        </p>
        <p>
            <h2>{{ username }}</h2>
        </p>
        <p>
            Please click the following link to reset your password.
        </p>
        <p>
            {{ password_reset_url }}
        </p>
    {% endautoescape %}
{% endblock %}
