{% extends "product/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Change Username
{% endblock %}

{% block content %}
    {% if done %}
        <h3> Please check your email. </h3>
        <br />

        <a class="btn btn-link w-100 m-1" role="button"
              href="/product/profile">
            Back to Profile
        </a>

    {% else %}
        {% csrf_token %}
        {% crispy form %}

        {% if error %}
            <h5> {{ error }} </h5>
        {% endif %}        
    {% endif %}
{% endblock %}