{% extends 'product/base.html' %}

{% block title %}
  HiX Local Library
{% endblock %}

{% block content %}
    <div class="row mt-3 align-items-center">
        <div class="col-md-6 mt-3">
            <h3 class="text-center vcenter"> {{user.username}} </h3>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" onclick="window.location='/product/profile/edit-username'">
                Change Username
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" onclick="window.location='https://services.hix.co.kr/accounts/password/reset/'">
                Change Password
            </button>
        </div>
    </div>

    <div class="row mt-3 align-items-center">
        <div class="col-md-6 mt-3">
            <h3 class="text-center vcenter"> {{user.email}} </h3>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default btn-block" onclick="window.location='/product/profile/edit-email'">
                Change Email
            </button>
        </div>
    </div>

    <div class="row mt-5 align-items-center">
    {% for serial_key in serial_keys %}
        <div class="col-md-9 mt-3">
            <h3 class="text-center vcenter"> {{ serial_key }} </h3>
        </div>
        <div class="col-md-3 mt-3">
            <button class="btn btn-default btn-block"
                    onclick="window.location='https://services.hix.co.kr/product/transmit_serial/{{serial_key}}'">
                Transmit Serial
            </button>
        </div>
    {% endfor %}
    </div>
{% endblock %}