{% extends 'product/base.html' %}

{% block title %}
  HiX Local Library
{% endblock %}

{% block content %}
    <div class="row mt-3 align-items-center">
        <div class="col-md-3" style="font-size:24px; text-align:center;">
            <b>ID</b>
        </div>
        <div class="col-md-3" style="text-size:14px;">
            {{user.username}}
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" onclick="window.location='/product/profile/auth-pw?next=/product/profile/edit-username'">
                Change ID
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" onclick="window.location='https://services.hix.co.kr/accounts/password/reset/'">
                Change P/W
            </button>
        </div>
    </div>

    <div class="row mt-3 align-items-center">
        <div class="col-md-3" style="font-size:24px; text-align:center;">
            <b>Email</b>
        </div>
        <div class="col-md-6">
            {{user.email}}
        </div>
        <div class="col-md-3">
            <button class="btn btn-default btn-block" onclick="window.location='/product/profile/auth-pw?next=/product/profile/edit-email'">
                Change Email
            </button>
        </div>
    </div>

    {% if serial_infos %}
        {% for serial in serial_infos %}
            <div class="row mt-3 align-items-center">
                <div class="col-md-3" style="font-size:24px; text-align:center;">
                    <b>Serial Key</b>
                </div>
                <div class="col-md-6" style="vertical-align:middle;">
                    {{ serial.serial_number }}
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger btn-block" onclick="window.location='https://services.hix.co.kr/product/transmit_serial/{{serial.serial_number}}'">
                        Transmit Serial
                    </button>
                </div>
            </div>

            <div class="row mt-3 align-items-center">
                <div class="col-md-3" style="font-size:24px; text-align:center;">
                    <b>Plan</b>
                </div>
                <div class="col-md-6">
                    {{ serial.product }}
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success btn-block" onclick="window.location='https://hix.co.kr/plans'">
                        Upgrade Plan
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}